/* --- 全体のレイアウト --- */
.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 0px 50px;
    opacity: 0; /* 1. 全ページ、コンテナは最初は非表示 */
    transition: opacity 1.0s ease-in; /* 2. 1秒かけてフェードインする準備 */
}

/* ページ遷移用のフェード画面 */
#page-fader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #f1f1f1; /* 背景色に合わせる */
    z-index: 9998;
    opacity: 0;
    pointer-events: none;
    transition: opacity 1.0s ease; /* ゆっくりフェード */
}
/* JSでこのクラスが付くとフェードアウト */
body.is-fading #page-fader {
    opacity: 1;
}

/* イントロ画面 */
#splash-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f1f1f1; /* 背景色 */
    z-index: 9999;
    cursor: pointer;
    /* JSでクラスが付くと、背景だけ透明に */
    transition: background-color 1.0s ease;
}

/* イントロ用のロゴ (これが動く) */
.splash-logo {
    position: absolute;
    /* 1. 初期状態: ど真ん中 */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 50px; /* ヘッダーのロゴサイズに合わせる */
    opacity: 0;
    transition: opacity 1.0s ease;/* ページ読み込み時のフェードイン用 */
}

.splash-logo.is-visible {
    opacity: 1;
}

/* --- 基本設定 --- */
body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f1f1f1; 
    font-family: 'Jost', 'Helvetica Neue', Arial, sans-serif;
    font-weight: 300; 
    color: #333;
}


/* --- 1. ヘッダーナビゲーション --- */
header {
    width: 100%;
}

nav {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 0;
    position: relative;
    min-height: 60px;
}

.logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.logo img {
    margin-top: 10px;
    height: 50px; /* ロゴ画像の高さ */
    width: auto; /* 幅は自動調整 */
    display: block; /* 余分な下余白をなくす */
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav li {
    margin: 0 20px; 
}

.nav-right {
    margin-left: auto; /* 右端に移動 */
}

.nav-left a,
.nav-right a {
    text-decoration: none;
    color: #aaa;
    font-size: 0.8rem;
    font-weight: 500;
    transition: color 0.2s ease; /* 色が滑らかに変わるアニメーション */
}

/* 左右のナビゲーションリンクをホバーした時 */
.nav-left a:hover,
.nav-right a:hover {
    color: #555; /* 濃いグレー */
}

/* 2. コンテナを不透明（表示）に */
/* (style.css の一番下など) */
body.is-visible .container {
    opacity: 1;
}