/* イントロ再生前のコンテナ（ヘッダー含む） */
.container {
    opacity: 0; /* style.cssから継承 (変更なし) */
    /* style.cssの「transition: 1.0s ease-in」を上書き */
    transition: opacity 1.0s ease-in 0.5s; 
}

/* イントロ再生前のヘッダーロゴ */
header .logo {
    opacity: 0;
    /* (あなたの調整値) 1.4秒後から0.3秒かけてフェードイン */
    transition: opacity 0.3s ease 1.4s; 
}

/* ---メインコンテンツ (動画エリア) --- */
main {
    flex-grow: 1; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0px;

    opacity: 0; /* 初期状態は透明 */
    /* ロゴが動き始めてから「早めに」フェードイン */
    transition: opacity 0.5s ease-in 1.5s;
}

.video-placeholder {
    padding: 50px 0px;
    border: 0px solid #0078FF; 
    width: 50vw; 
    height: 45vh;
    display: flex;
    justify-content: center;
    align-items: center;
}



/* --- 3. フッターテキスト --- */
section#content-start {
    width: 100%;
    padding-top: 60px; 
    padding-bottom: 50px; 
}

/* メインのテキスト */
.content-text-main,
.content-text-sub {
    font-size: 1rem;
    font-weight: 10; 
    color: #606060;
    line-height: 1.7;
    letter-spacing: 0.05em;
    margin-bottom: 40px;
    max-width: 600px; 
}

/* 図解イラスト */
.content-images {
    margin-top: 50px; 
    margin-bottom: 50px; 
}

.content-images img {
    max-width: 135px; 
    height: auto;
    display: block;
}

/* Studiesタイトル */
.studies-title {
    padding: 150px 0px;
    font-size: 2rem; 
    font-weight: 500; 
    color: #aaa; 
    /* letter-spacing: 0.1em;  */
    margin: 0; 
    /* text-transform: uppercase;  */
    text-align: center;
    position: relative;
}

.tool-title {
    padding: 0px 100px;
    font-size: 2rem; 
    font-weight: 500; 
    color: #aaa; 
    margin: 0; 
    text-align: center;
    position: relative;
    /* ::before (縦線) の指定がない */
}

.studies-title::before {
    content: ''; /* 疑似要素 */
    display: block;
    /* 線のスタイル */
    width: 1.2px; /* 線の太さ */
    height: 150px; /* 線の長さ*/
    background-color: #d1d1d1; /* 線の色 */
    /* 線を中央に配置し、線の下（タイトルとの間）に余白を設ける */
    margin: 0 auto 40px; /* 上:0, 左右:自動(中央), 下:40px */
}

a.title-link {
    text-decoration: none; /* 下線を削除 */
    color: inherit; /* 親(h2)の色を継承 */
    transition: color 0.2s ease; /* (任意) 色が滑らかに変わるアニメーション */
}

a.title-link:hover {
    color: #555; /* 濃いグレーに変わる */
}

/* イントロ開始後 */
body.intro-started #splash-screen {
    pointer-events: none; /* クリックを無効化 */
    background-color: transparent; /* 背景を透明に */
}

body.intro-started .splash-logo {
    top: 20px;
    left: 50%;
    transform: translate(-50%, 0);
    opacity: 0;
    
    /* ロゴ移動(1.5s)と、フェードアウト(1.4s地点から0.3s) */
    transition: all 1.5s cubic-bezier(0.65, 0, 0.35, 1), 
                opacity 0.3s ease 1.4s;
}

/* コンテンツを表示 */
body.intro-started .container {
    opacity: 1;
}
/* ヘッダーの「本物の」ロゴを表示 */
body.intro-started header .logo {
    opacity: 1;
}
/* メイン動画（のエリア）を表示 */
body.intro-started main {
    opacity: 1;
}